/*************************      about(2nd page)          *************************/

.about {
  display: flex;
  flex-direction: column;
  border: 15px solid var(--tuatara);
  border-right: unset;
  border-left: unset;
  box-shadow: 10px 55px 50px 55px #444444a2;
}
.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarot {
  position: relative;
  margin-top: 10em;
  width: 210px;
  height: 360px;
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 15px solid var(--white);
  padding: 0;
  margin: 0;
  background-color: var(--tuatara);
  background-size: 24px 24px;
  background-image: radial-gradient(
      transparent 10px,
      #ffffff 10px,
      #ffffff 12px,
      transparent 12px
    ),
    radial-gradient(
      transparent 10px,
      #ffffff 12px,
      #ffffff 12px,
      transparent 12px
    );
  background-position: 0 0, 12px 24px;
}
/* .tarot img {
  width: 12.5em;
  height: 18em;
  object-fit: fill;
  position: absolute;
  filter: grayscale(1) contrast(1.8);
} */
.tarot:hover {
  cursor: pointer;
  transform: scale(105%);
  box-shadow: 5px 0px 25px 5px rgba(255, 30, 0, 0.432);
}
