/*************************      about(2nd page)          *************************/

.about {
  z-index: 1;
  position: absolute;
  background-color: var(--white);
  right: 17%;
  display: flex;
  flex-direction: column;
  border-top: 15px solid var(--red) !important;
  border-bottom: 15px solid var(--red) !important;
  border-right: unset;
  border-left: unset;
  box-shadow: 10px 55px 50px 55px #444444a2;
}
.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarot__deck {
  position: relative;
  /* border: 1px solid red; */
}
.tarot {
  cursor: url('../src/img/hand.cur'), auto;
  transform: rotate(0deg);
  position: absolute;
  top: 4em;
  right: -6.5em;
  margin: 0 auto;
  width: 200px;
  height: 330px;
  background-color: var(--white);
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  background: url('../src/img/tarot_back.png') no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 1px 1px rgba(161, 161, 161, 0.199);
}

/* .tarot img {
  width: 12.5em;
  height: 18em;
  object-fit: fill;
  position: absolute;
  filter: grayscale(1) contrast(1.8);
} */
.tarot__deck:hover .tarot {
  /* transform: translateX(-6em); */
  cursor: url('../src/img/hand.cur'), auto;

  /* transform: scale(105%); */
  box-shadow: 5px 0px 25px 5px rgba(255, 30, 0, 0.432);
}
.tarot__deck:hover .tarot:first-child {
  transform: rotate(10deg);
  top: 5em;
  left: -4em;
}
.tarot__deck:hover .tarot:nth-child(2) {
  transform: rotate(-15deg);
  top: 5em;
  left: -6em;
}
.tarot__deck:hover .tarot:last-child {
  transform: rotate(-30deg);
  top: 6em;
  left: -10em;
}

.modal--tarot {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6em;
  left: 0em;
  z-index: 3;
  width: 100%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.modal--tarot .tarot__inner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 240px;
  margin-bottom: 1em;
}
.modal--tarot .tarot1,
.modal--tarot .tarot2,
.modal--tarot .tarot3 {
  cursor: url('../src/img/hand.cur'), auto;
  width: 150px;
  height: 240px;
  border-radius: 10px;
  border: 7px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 1px 1px rgba(161, 161, 161, 0.199);
}
.modal--tarot .tarot1:hover,
.modal--tarot .tarot2:hover,
.modal--tarot .tarot3:hover {
  box-shadow: 2px 0px 10px 5px rgba(255, 30, 0, 0.432);
}

.tarot1 {
  animation: turn-card 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.tarot2 {
  display: none;
  animation: turn-card2 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.tarot3 {
  display: none;
  animation: turn-card3 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.modal--tarot .tarot__desc {
  margin-top: 1em;
  width: 80%;
  height: 180px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}
.modal--tarot .tarot__desc .desc--title {
  /* font-size: 1.1em; */
  font-weight: bold;
}
.modal--tarot .tarot__desc .desc--credit {
  margin-top: 1em;
  font-size: 0.8em;
  line-height: 1.1em;
}
.modal--tarot .bt-close {
  opacity: 0.8;
  position: absolute;
  top: 1em;
  right: 8em;
  transform: translateY(140%);
  color: var(--black);
  border-radius: 50%;
  border: 0.5px solid #000;
  padding: 0.15em;
}
.modal--tarot .bt-close:hover {
  background-color: rgb(241, 130, 26);
}

@keyframes turn-card {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: url('../src/img/tarot_back.png') no-repeat center;
    background-size: cover;
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: url('../src/img/magician.png') no-repeat center;
    background-size: cover;
  }
}
@keyframes turn-card2 {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: url('../src/img/tarot_back.png') no-repeat center;
    background-size: cover;
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: url('../src/img/queen_sword.png') no-repeat center;
    background-size: cover;
  }
}
@keyframes turn-card3 {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: url('../src/img/tarot_back.png') no-repeat center;
    background-size: cover;
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: url('../src/img/world.png') no-repeat center;
    background-size: cover;
  }
}
