/*************************      gallery(3rd page)          *************************/

.gallery {
  z-index: 0;
  background-color: var(--white);
  position: absolute;
  right: 17%;
  display: none;
  flex-direction: column;
  border-top: 15px solid var(--red) !important;
  border-bottom: 15px solid var(--red) !important;
  border-right: unset;
  border-left: unset;
  /* box-shadow: 10px 55px 50px 55px #444444a2; */
}
.gallery .content {
  overflow-y: scroll;
}

.album {
  /* gap: 20px; */
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  overflow: hidden;
  width: 150px;
  height: 150px;
  position: relative;
}
.desc {
  z-index: 3;
  position: absolute;
  bottom: 3em;
  font-size: 1em;
  background-color: var(--tuatara);
  color: var(--white);
  left: 5%;
}
