/*************************      main(1st page)          *************************/
.main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 5px 0 5px 5px; */
  border-left: 20px solid var(--red) !important;

  box-shadow: 0px 5px 50px 30px #444444a2;
  background-color: var(--tuatara) !important;
}
.main .header {
  margin: 2em 0;
}
.main .header .title {
  color: var(--white);
}
.main .header h1.title::after {
  content: '';
  display: block;
  margin-top: 0.3em;
  width: 100%;
  height: 3px;
  background-color: var(--red);
}
.main .header .title ul {
  display: flex;
}
.main .header .title li {
  font-family: 'Pretendard';
  font-size: 1.2em;
  margin-left: 0.8em;
}
.main .header .title li::after {
  margin-left: 2.5em;
  margin-top: -0.8em;
  content: '';
  display: block;
  width: 3px;
  height: 15px;
  background-color: var(--red);
}
.main .header .title li:nth-child(3):after {
  margin-left: 3.5em;
  margin-top: -0.8em;
  content: '';
  display: block;
  width: 3px;
  height: 15px;
  background-color: var(--red);
}
.main .content {
  margin: 1em;
  width: 90%;
  height: 72vh;
  border: 1px solid var(--tuatara);
}
.main .footer .credit {
  font-family: 'Paysage-regular';
  font-style: italic;
  font-size: 1.2em;
  color: var(--white);
  letter-spacing: 0.1em;
}
