.play {
  display: flex;
  flex-direction: column;
  border-top: 20px solid var(--red) !important;
  border-bottom: 20px solid var(--red) !important;
  border-right: unset;
  border-left: unset;
  box-shadow: 10px 55px 50px 55px #444444a2;
}
.play .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/********************  imgPop  *************************/
#c {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 3px 10px -1px rgba(114, 114, 114, 0.47);
}
.canvas {
  position: relative;
}
.palette {
  z-index: 3;
  position: absolute;
  height: 2.2em;
  right: 1em;
  bottom: 0;
}

.palette--btn {
  all: unset;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  box-shadow: 2px 3px 10px -1px rgba(114, 114, 114, 0.47);
  background-color: #ffffff;
  color: #6e6e6e;
}
.palette--btn > i {
  color: rgba(109, 109, 109, 0.815);
}

.palette--btn:hover {
  transform: scale(1.05);
}
