@import './all.min.css';
@import './base.css';
@import './main.css';
@import './about.css';
@import './gallery.css';
@import './play.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap');
@import url('../src/font/Paysage-Black.woff');
@import url('../src/font/Paysage-Bold.woff');
@import url('../src/font/Paysage-Medium.woff');
@import url('../src/font/Paysage-Regular.woff');
@import url('../src/font/Messapia-Bold.woff');
@import url('../src/font/Messapia-Regular.woff');
@font-face {
  font-family: 'Authentic Sans';
  src: url('../src/font/AUTHENTICSans-130.otf') format('otf');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('../src/font/Pretendard-Regular.otf') format('off');
}

:root {
  --grad: linear-gradient(
    155deg,
    var(--amethystSmoke) 0%,
    #cedae648 57%,
    #c5b08950 100%
  );
  --textShadow: 34px -20px 8px rgba(116, 116, 116, 0.5);
  --shadow: #00000086 5%, #00000069 15%, #5252527e 30%, #ffffff00 70%;
  --white: #fdf4f2;
  --vanilla: rgba(255, 247, 230, 0.801);
  --brandyRose: #b48688;
  --spicyPink: #816d70;
  --amethystSmoke: #a290a2;
  --monsoon: #887d86;
  --martini: #aea19e;
  --tuatara: #3f3434;
  --red: rgba(255, 30, 0, 0.76);
}
/*************************      body & global          *************************/
body {
  position: relative;
  width: 100%;
  font-family: 'Paysage-Black', AppleSDGothic !important;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-y: hidden; */
}
* {
  cursor: url(http://circulardev.com/nike/cortez/dist/images/cortez-pointer.png),
    auto;
  cursor: -webkit-image-set(url(http://circulardev.com/nike/cortez/dist/images/cortez-pointer.png) 1x, url(http://circulardev.com/nike/cortez/dist/images/cortez-pointer@2x.png) 2x), auto;
}

* a:hover,
* a:hover * {
  cursor: url(http://circulardev.com/nike/cortez/dist/images/cortez-pointer-hover.png),
    auto;
  cursor: -webkit-image-set(url(http://circulardev.com/nike/cortez/dist/images/cortez-pointer-hover.png) 1x, url(http://circulardev.com/nike/cortez/dist/images/cortez-pointer-hover@2x.png) 2x), auto;
}

body {
  background: #ddd;
}

#wrap a {
  display: inline-block;
  background-color: #ffffff;
  padding: 20px 50px;
}

.wrapper {
  width: 25%;
  /* overflow: hidden; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;

  height: 500vh;
  border: 1px solid var(--tuatara);
  /* background-color: var(--vanilla); */
  /* background: linear-gradient(
      165deg,
      rgba(241, 241, 255, 0.281) 0%,
      #d3725598 25%
    )
    no-repeat center; */
}
.content {
  margin: 3em auto;
  width: 90%;
  height: 80vh;
  border: 1px solid var(--tuatara);
  overflow: hidden;
}
.btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40em;
  width: 100%;
}
.btn {
  font-size: 6.5em;
  z-index: 9999;
}
.bt-prev {
  /* margin-left: 0.5em; */
}
.bt-next {
  /* margin-right: 0.5em; */
}
.title {
  font-family: 'SUIT';
}
h1.title {
  font-family: 'Paysage-Black';
  font-style: italic;
  font-size: 2em;
  margin: 1em 0;
}
h3.title {
  font-family: 'Pretendard';
  font-size: 1.2em;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 7em 0 0 0;
}
/*************************                *************************/

/*************************      responsive          *************************/

@media (max-width: 2400px) {
  .wrapper {
    width: 25%;
  }
}
@media (max-width: 1800px) {
  .wrapper {
    width: 33.333%;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
