/*************************      gallery(3rd page)          *************************/

.gallery {
  z-index: 0;
  background-color: var(--white);
  position: absolute;
  right: 15%;
  display: none;
  flex-direction: column;
  border-top: 15px solid var(--red) !important;
  border-bottom: 15px solid var(--red) !important;
  border-right: unset;
  border-left: unset;
  overflow-y: scroll;
}
.gallery .content {
  flex-wrap: wrap;
  overflow-y: scroll;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
}
.album {
  align-items: center;
  width: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: center;
  gap: 10px;
}
.frame {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: aqua; */
  overflow: hidden;
  width: 250px;
  height: 250px;
  position: relative;
  border: 1px solid var(--tuatara);
  /* box-shadow: 5px 5px 5px 2px rgba(156, 156, 156, 0.5); */
  border-radius: 5px;
  margin: 0.5em;
}
.frame__wrapper {
  position: relative;
}
.gallery canvas {
  width: 250px;
  height: 250px;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc h3 {
  font-size: 0.9em;
}
.desc p {
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  position: absolute;
  bottom: -4em;
  width: 200px;
  font-size: 1em;
  color: var(--tuatara);
  background-color: rgba(255, 247, 230, 0.989);
  border-radius: 5px;
  line-height: 1.2em;
  border: 1px solid var(--tuatara);
  padding: 0.5em;
}
.desc:hover p {
  display: flex;
}
/******************************       RESPONSIVE        *****************************************/
@media (max-width: 2300px) {
  .frame {
    width: 230px;
    height: 230px;
  }
  .gallery canvas {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 2200px) {
  .frame {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 2100px) {
  .frame {
    width: 210px;
    height: 210px;
  }
  .gallery canvas {
    width: 210px;
    height: 210px;
  }
}
@media (max-width: 2000px) {
  .frame {
    width: 195px;
    height: 195px;
  }
  .gallery canvas {
    width: 195px;
    height: 195px;
  }
}
@media (max-width: 1900px) {
  .frame {
    width: 180px;
    height: 180px;
  }
  .gallery canvas {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 1800px) {
  .album {
    grid-template-columns: 1fr 1fr;
  }
  .frame {
    width: 230px;
    height: 230px;
  }
  .gallery canvas {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 1700px) {
  .frame {
    width: 220px;
    height: 220px;
  }
  .gallery canvas {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 1600px) {
  .gallery {
    right: 10%;
  }
  .frame {
    width: 200px;
    height: 200px;
  }
  .gallery canvas {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1500px) {
  .frame {
    width: 190px;
    height: 190px;
  }
  .gallery canvas {
    width: 190px;
    height: 190px;
  }
}
@media (max-width: 1400px) {
  .frame {
    width: 180px;
    height: 180px;
  }
  .gallery canvas {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 1300px) {
  .album {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
  .frame {
    width: 280px;
    height: 280px;
  }
  .gallery canvas {
    width: 280px;
    height: 280px;
  }
}
