/*************************      main(1st page)          *************************/
.main {
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 5px 0 5px 5px; */
  border-left: 15px solid var(--red) !important;
  box-shadow: -5px 5px 17px 15px #a3a3a3;
  background-color: var(--tuatara) !important;
}
.main .header {
  margin: 2em 0;
}
.main .header .title {
  color: var(--white);
}
.main .header h1.title::after {
  content: '';
  display: block;
  margin-top: 0.3em;
  width: 100%;
  height: 3px;
  background-color: var(--red);
}

.main .header .title ul {
  display: flex;
}
.main .header .title li {
  font-family: 'Pretendard';
  font-size: 1.2em;
  margin-left: 0.8em;
}
.main .header .title li::after {
  margin-left: 2.5em;
  margin-top: -0.8em;
  content: '';
  display: block;
  width: 3px;
  height: 15px;
  background-color: var(--red);
}
.main .header .title li:nth-child(3):after {
  margin-left: 3.5em;
  margin-top: -0.8em;
  content: '';
  display: block;
  width: 3px;
  height: 15px;
  background-color: var(--red);
}
.main .header .title li:last-child:after {
  display: none;
}
.main .content {
  margin: 0em 0 1em 0;
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--white); */
}
#mainCanvas {
}
.main .footer .credit {
  font-family: 'Paysage-regular';
  font-style: italic;
  font-size: 1.2em;
  color: var(--white);
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}
@media (max-width: 3840px) {
}
@media (max-width: 2560px) {
}
@media (max-width: 1920px) {
}
@media (max-width: 1600px) {
  .main {
    left: 10%;
  }
}
@media (max-width: 1300px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
